{% extends 'base.html'%}


{% block head %}
<title>
Tasks
</title>
{% endblock %}

{% block body %}
<h1 class="content"> Tasks </h1>

<div class="content">

    {% if tasks | length <1%}
    <h3> No Tasks yet, Create one here </h3>
    {% else %}
    <table>
        <tr>
            <th>Tasks
            </th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks  %}
            <tr>
                <td>{{task.content}}</td>
                <td>{{task.created.strftime("%Y-%m-%d")}}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br/>
                    <a href="/edit/{{task.id}}">Edit</a>
                </td>
            </tr>
        {% endfor%}
    </table>
    {% endif %}
    <form action="/" method="POST">
    <input type="text" name="content" id="content" placeholder="Enter task">
    <button type="submit" id="btn_Add">Add Task</button>
    </form>
</div>

{% endblock %}